* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Courier, monospace, 'Courier New', sans-serif;
}

.control-buttons {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(161, 60, 255, 0.9);
}

.control-buttons span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f18ff;
    color: #FFF;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.info-container {
    display: none;
}

.memory-game-blocks {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    margin: 5% auto;
}
@media screen {
    .memory-game-blocks {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 40% auto;
    }
}
.memory-game-blocks.no-clicking {
    pointer-events: none;
}

.memory-game-blocks .game-block {
    height: 180px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 2 0 200px;
    margin: 0 10px 20px;
}

.memory-game-blocks .game-block .front {
    background-color: #333;
    line-height: 185px;
}

.memory-game-blocks .game-block .front:before {
    content: '!';
    color: #FFF;
    font-size: 140px;
    font-weight: bold;
}

.memory-game-blocks .game-block .back {
    background-color: #000000;
    transform: rotateY(180deg);
}

.memory-game-blocks .game-block .back img {
    width: 90%;
    height: 90%;
    margin: 10px auto;
}

.memory-game-blocks .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #5daae9;
}

.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
    transform: rotateY(180deg);
    pointer-events: none;
}
